DB_USER=
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=qhoras
BACKEND_PORT=4545
# Local
CORS_ORIGINS=http://localhost:5173,http://localhost:5178
# DEV VPN (sp1-sd-octor-2, sem DNS):
# CORS_ORIGINS=http://10.8.0.9:15183,http://10.8.0.9:15182,http://10.8.0.9:15177
